.nav { background: none repeat scroll 0 0 #fff; position: relative; margin-bottom: 10px }
.nav:before { border-bottom: 1px solid #dfdfdf; content: ""; left: 0; position: absolute; right: 0; top: 0 }
.nav_item { position: relative }
.nav_item:after { border-bottom: 1px solid #dfdfdf; bottom: -.5px; content: ""; left: 0; position: absolute; right: 0 }
.nav_item_order_hd { position: relative; overflow: hidden }
.nav_item_order { color: #4a4a4a; font-size: 15px; line-height: 48px; padding-left: 10px; float: left; z-index: 1; font-weight: 500 }
.nav_item_order_bd { font-size: 12px; line-height: 48px; float: right; padding-right:14px; color: #999 }
.nav_item_order_bd_arrow { width: 8px; height: 12px; margin-top: 17px }



.nav_item_bd { font-size: 0; padding: 3px 0 5px; position: relative }
.nav_item_bd:before { border-bottom: 1px solid #efefef; content: ""; left: 0; position: absolute; right: 0; top: 0 }
.nav_item_bd a { color: #4a4a4a; display: inline-block; font-size: 11px; position: relative; text-align: center; width: 24.9% }
.nav_item_bd .nav_item_order_img { background-image: url(../images/personal_sprite.png); background-repeat: no-repeat; background-size: 133.33333px 133.33333px; content: ""; height: 22px; width: 23px; margin: 10px auto 4px }
.nav_item_order_img.order_unpay { background-position: -24px 0; width: 24px }
.nav_item_order_img.order_unsend { background-position: 0 0; height: 22px }
.nav_item_order_img.order_unreceived { background-position: -50px -1px; height: 20px }
.nav_item_order_img.order_unevaluated { background-position: -75px 0; height: 21px; width: 22px }
.nav_item_txt { position: relative }
.nav_list { overflow: hidden }
.nav_list:after { border-bottom: 1px solid #dfdfdf; bottom: -.5px; content: ""; left: 0; position: absolute; right: 0 }
.nav_list li { display: inline-block; position: relative; width:25vw; height:25vw; max-width:160px; max-height:160px; text-align: center; float: left }
.nav_list li:before { border-left: 1px solid #efefef; bottom: 0; content: ""; position: absolute; left: 0; top: 0 }
.nav_list li:after { border-bottom: 1px solid #efefef; bottom: -.5px; content: ""; left: 0; position: absolute; right: 0 }
.nav_list_img { background-image: url(../images/personal_sprite.png); background-repeat: no-repeat; background-size: 133.33333px 133.33333px; content: ""; height: 33px; width: 33px; margin-top: 19% }
.nav_list_img, .nav_list_txt { margin-left: auto; margin-right: auto }
.nav_list_txt { font-size: 13px; width: 100%; text-align: center; margin-top: 8%; color: #4a4a4a }
.nav_cheap .nav_list_img { background-position: 0 -23px }
.nav_lottory .nav_list_img { background-position: -34px -23px }
.nav_like .nav_list_img { background-position: -68px -23px }
.nav_cart .nav_list_img { background-position: 0 -57px }
.nav_adress .nav_list_img { background-position: -34px -57px }
.nav_msg .nav_list_img { background-position: -68px -57px; position: relative }
.nav_faq .nav_list_img { background-position: -34px -90px; position: relative; height: 34px }
.nav_account .nav_list_img { background-position: 0 -90px; }  /*.nav_bbs .nav_list_img { background-position: -68px -90px; position: relative; height: 34px } */
.nav_item_num { background: none repeat scroll 0 0 #ff2741; border-radius: 100%; color: #fff; font-size: 11px; position: absolute; right: -5px; top: -35px; height: 16px; width: 16px; line-height: 16px; text-align: center }
.nav_item_num.msg { top: -5px; right: -5px }
.coupons_a { display: block; line-height: 45px }

.nav_fixed a{height:40px;line-height:40px;width:33.33%;float:left;display:block;box-sizing:border-box;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.nav_fixed a:last-child{border-right:none;}
.nav_fixed a.cur{border-bottom:2px solid #FA5343;color:#FA5343;}

.account_top{width:100%; height:40px; line-height:40px; background:#FA5343; position:fixed; top:0;max-width: 640px;}
.account_top p{font-size:18px; color:#fff; padding-left:20px;}
.account_box{background:#fff; padding:90px 10px 10px 10px;}
.account_deposit{font-size:14px;}
.account_deposit h3{line-height:30px; color:#FA5343; font-size:14px; font-weight:400;}
.account_deposit li{width:100%; margin:0 auto; margin-bottom:10px;}
.account_deposit li label{float:left; width:60px;}
.account_deposit li .inp{width:98%; border:#ddd 1px solid; height:36px; padding:0 1%; margin:0 auto; border-radius:3px;}
.account_deposit li .tex{width:98%; border:#ddd 1px solid; padding:0 1%; height:80px; padding-top:6px; border-radius:3px;}
.account_deposit li .bnt{width:100%; background:#FA5343; color:#fff; border:none; height:40px; border-radius:3px; font-size:16px;}
.account_detail,.account_log{background:#fff; padding:10px 5px;}
.account_detail td,.account_log td{height:30px; line-height:30px; border-bottom:#ddd 1px dashed;}
.account_detail a,.account_log a{background:#DF2127; color:#fff; border-radius:3px; padding:2px 5px;}
.list_table{}
.list_table th,.list_table td{height:30px; border-bottom:#eee 1px solid;}
